<!DOCTYPE html>
<html>
    <head>
        <title>SCG 1주차 과제 박종휘</title>
        <link rel="stylesheet" href="/css/1/style.css" type="text/css">
    </head>
    <body>
        <h1>졸업 기준 학점</h1>
        <table>
            <tr>
                <th class="points">구분 1</th>
                <th class="points">구분 2</th>
                <th class="points">기준 학점</th>
            </tr>
            <tr>
                <td rowspan="3">전공 학점</td> 
                <td>전공코어</td>
                <td class="points">21</td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td>전공심화</td>
                <td class="points">33</td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td>전공실습</td>
                <td class="points">2</td>
            </tr>
            <tr>
                <td rowspan="4">교양 학점</td> 
                <td>글로벌</td>
                <td class="points">2</td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td>DS기반</td>
                <td class="points">11</td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td>의사소통</td>
                <td class="points">4</td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td>창의</td>
                <td class="points">3</td>
            </tr>
            <tr>
                <td colspan="2">총 학점</td>
                <td class="points">76</td>
            </tr>

        </table>
        <div class="aright"><a href="./">메인으로</a></div>
    </body>
</html>